<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Census Management System</title>

   
</head>
<html>
    <body>
    
    <div th:replace="navbar::header"></div>
    
    <div th:replace="dashboard::dashboard"></div>
    
        <div  style="background-color: rgb(255, 255,255); width:70%; margin-left:320px; margin-top:150px; margin-bottom: 5px; padding:20px;"><!--formbox-->
         
     
    <form action="#" th:action="@{/saveHeader}" th:object="${header}" method="post"
     name="myform" onsubmit="return validm()" class="requires-validation" novalidate>
       
         <div style="margin-left:20px; margin-top:20px;">
        <!--  <label for="username">Family Identification serial</label>  -->
<!--            <input type="integer"   placeholder="Default" id="varchar" name="familyIdentification"> -->
           
           <span style="margin-left:70%;color:brown;"><b><label for="year">Census Year:</label></b>
           <select name="censusYear" id="year">
            <option value="2021">2021</option>
            <option value="2015">2011</option>
            <option value="2010">2001</option>
          
          </select></span><!--census year form end-->
          </div>
            <!--F.id div end,censusdiv end-->
            <!--start of head family details--> 
          <h4 style="margin-top:30px;color:rgb(98, 98, 153)"> <i>Fill details for head of the family !</i></h4>
          <hr size="3" width="100%" color="gray"> <!--end of head family details-->    
          <!--start of form-->       
          <h4 style="text-align:center"><i><u>Personal Details</u></i></h4> 
          
          <div class="row">
          
        <div style="margin-left:100px; margin-top:20px;" class="row">
          <label style="margin-bottom:10px;" class="form-label" for="name" ><b>Name of the Head:</b></label>
          <div style="width:500px">
            <input type="text" class="form-control"  id="name" name="headOfFamily" placeholder="Name of the head" autocomplete="off"  required >
            <span style="font-size:14px;" id="fname" class="text-danger"></span>
            <div  class="invalid-feedback"><!--validationfirstname -->
              Please enter valid Fullname
            </div>
            <div class="valid-feedback"><!--validationb first name-->
                
              </div>
            
      
          </div>
          </div>
        

            <!--start ofnid form -->
  <div style="margin-left:100px; margin-top:20px;" class="row">
    <div style="width:500px">
          <label style="margin-bottom:10px;"for="nidno" class="form-label">National Identification Id No.(Idqr)</label>
        <input type="text" id="nidno"  name="idqr" class="form-control" placeholder="nid no." autocomplete="off" pattern="^\d{6}$" required>
        
        <div  class="invalid-feedback"><!--validation lastname-->
            Nid should be a 6 digit number
        </div>
      </div>
  </div><!--headend of nidno div-->
  
  <!--gender and age div start-->
<div style="margin-left:100px; margin-top:20px;"role="form" data-toggle="validator" class="row">
    <div class="col-md-4">
      <div>
      <label for="inputMember" class="form-label">Gender</label>
      </div><!--Gender label div-->
      <div class="form-check-inline col-md-4">
        <input class="form-check-input" type="radio" name="gender" value="Male" id="flexRadioDefault1" required>
        <label class="form-check-label" for="gender" >
          Male
        </label>
      </div><!--firstradio-->
      
      <div class="form-check-inline col-md-4">
        <input class="form-check-input" type="radio" name="gender" value="Female" id="flexRadioDefault2" required>
        <label class="form-check-label" for="gender">
          Female
        </label>
        
      </div><!--radiodiv-->
  
      
  </div><!--headgenderdiv-->
  <div style="margin-right:30px;margin-left:100px;" class="col-md-2">
    <label for="inputMember" class="form-label">Race</label>
    <select id="inputMember" class="form-select" name="race" required>
      <option selected disabled value="">Choose</option>
      <option>German</option>
      <option>Turkish</option>
      <option>Polish</option>
      <option>Syrian </option>
      <option>Others</option>
       
    </select>
    <div class="invalid-feedback">
         Select a valid state.
      </div><!--validation nationality-->
    </div><!--headRacediv-->
    <div class="col-md-2 form-group">
        <label style="margin-left:20px;margin-bottom:9px;" class="input-label">Age</label>
          <input type="number" class="form-control" placeholder="value" id="age" name="age" min="18" max="100" required>
         
          <div class="invalid-feedback">
             Fill the valid age,Age should be atleast 18.
          </div><!--validation age type-->
          </div>
        </div>
        <!--headgender and age,race div end-->
        <!--headdatepicker,maritalstart-->
<div role="form" data-toggle="validator" style="margin-left:100px; margin-top:20px;margin-bottom:15px;" class="row">
    <div style=margin-right:10px; class="col-md-5">
      <label style="margin-bottom:20px;" class="input-label">Date of Birth</label>
    <input type="date" class="form-control" id="birthday" name="dateOfBirth" required>
    <div class="invalid-feedback">
        Please fill the Date of birth
      </div><!--validation age type-->
    </div>
    <!--headMaritaldiv start-->
    <div class="col-md-6">
      <div>
      <label style="margin-bottom:20px;"  for="inputMember" class="form-label">Marital Status</label>
      </div><!--marital label div-->
      <div class="form-check-inline col-md-3">
        <input class="form-check-input" type="radio" name="maritalStatus" value=" Married" id="flexRadioDefaultb1" required>
        <label class="form-check-label" for="flexRadioDefault1">
          Married
        </label>
      </div><!--maritalfirstradio-->
      
      <div class="form-check-inline col-md-3">
        <input class="form-check-input" type="radio" name="maritalStatus" value=" Unmarried" id="flexRadioDefaultb2" required>
        <label class="form-check-label" for="flexRadioDefault2">
          Unmarried
        </label></div><!--marital second div-->
        <div class="form-check-inline col-md-3">
          <input class="form-check-input" type="radio" name="maritalStatus" value=" Divorced" id="flexRadioDefaultb3" required>
          <label class="form-check-label" for="flexRadioDefaultb3">
            Divorced
          </label>
        
      </div><!--maritalradiodiv-->
      </div><!--total marital block end-->
    </div><!--headdatepicker,marital--><!--headpersonal details-->
    <!--start of education,wages,type of work div-->
    <div style="margin-left:100px; margin-top:20px;margin-bottom: 30px;" class="row">
      <div class="col-md-4">
        <label for="inputMember" class="form-label">Education</label>
        <select id="inputMember" name="education" class="form-select" required>
          <option selected disabled value="">Choose</option>
          <option>Hauptschule </option>
          <option>Realschule</option>
          <option> Gymnasium</option>
          <option>Gesamtschule  </option>
          <option>Others</option>
           
        </select>
        
        </div><!--educationdiv-->
        <div class="col-md-3">
          <label for="inputMember" class="form-label">Type of work</label>
          <select id="inputMember" name="profession" class="form-select" required>
            <option selected disabled value="" >Choose</option>
            <option>Public sector</option>
            <option>Private sector</option>
            <option>Unemployed</option>
            <option>Others</option>
             
          </select>
          
          </div><!--type of work div-->
          <div class="col-md-3">
  
           <div>
           <label class="input-label">Wages(EURO)</label></div>
           <div class="input-group mb-3">
           <span style="font-size:20px" class="input-group-text" id="basic-addon1"><b>€</b>
           </span>
           <input class="form-control number" name="wages" placeholder="00.00" aria-label="Username" aria-describedby="basic-addon1" pattern="^(\d*\.?\d+|\d{1,3}(,\d{3})*(\.\d+)?)$" required>
           </div>


          </div><!--wages div end-->
              
              
              
          
          
        
            
        
      
          </div>

      
      
      <hr size="3" width="100%" color="gray"> <!--line--> 

      <h4 style="text-align:center"><i><u>Contact Details</u></i></h4> <!--start of contact details-->
      
                 <div style="margin-left:100px; margin-top:20px; margin-bottom:30px;" class="row">
                    <div style="margin-top:10px;" class="col-10">
                      <label for="inputAddress" class="form-label">Address</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" name="address" rows="3"placeholder="Address"  autocomplete="off" required></textarea>
                    </div>
                    
                    <div style="margin-top:20px;" class="col-md-5 form-group">
                      <label for="inputCity" class="form-label">City</label>
                      <select id="inputState" name="city" class="form-select" required>
                        <option selected disabled value="">Choose...</option>
                        <option>berlin</option>
                        <option>hamburg</option>
                        <option>munich</option>
                        <option>leipzig</option>
                       </select>
                      
                    </div>
                    <div style="margin-top:20px;"class="col-md-3">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" name="state" class="form-select" required>
                        <option selected disabled value="">Choose...</option>
                        <option>berlin</option>
                        <option>hamburg</option>
                        <option>baveria</option>
                        <option>saxony</option>
                       </select>
                    </div>
                   </div><!--contact div ended-->
                    <hr size="3" width="100%" color="gray"> <!--line--> 
    <h4 style="text-align:center"><i><u>Family Details</u></i></h4> <!--start of Family Details-->
    
    
          
        <div style="margin-left:100px; margin-top:20px;" class="row">
        <div class="col-md-4">
          <label style="margin-bottom:10px;" class="form-label" for="namec" ><b>Name of the Member:</b></label>
          <div style="width:400px">
            <input type="text" class="form-control"  id="namec" name="nameOfMember" placeholder="Name of the Member" autocomplete="off" required >
            <span style="font-size:14px" id="fnamec" class="text-danger"></span>
            <div  class="invalid-feedback"><!--validationfirstname -->
              Please enter valid Fullname
            </div>
            <div class="valid-feedback"><!--validationb first name-->
                
              </div>
              </div>
        </div>
          
        <div class="col-md-4" style="margin-left:150px; margin-top:1px;">
          <label for="inputMember" class="form-label">Relation</label>
      <select id="inputMember" class="form-select" name="relation" required>
      <option selected disabled value="">Choose</option>
      <option>Mother</option>
      <option>Father</option>
      <option>Wife</option>
      <option>Son </option>
      <option>Daughter</option>
      <option>Brother</option>
      <option>Sister</option>
       
    </select>
    <div class="invalid-feedback">
         Select a valid relation.
      </div><!--validation nationality-->
    </div><!--headRacediv-->
          
          </div>
       
        
        
        
        
        
        

            <!--start ofnid form -->
  <div style="margin-left:100px; margin-top:20px;" class="row">
    <div style="width:500px">
          <label style="margin-bottom:10px;"for="nidno" class="form-label">National Identification Id No.(Idqr)</label>
        <input type="text" id="nidno"  name="didqr" class="form-control" placeholder="nid no." autocomplete="off" pattern="^\d{6}$" required>
        <span id="idn" class="text-danger"></span>
        <div  class="invalid-feedback"><!--validation lastname-->
             Nid should be a 6 digit number
        </div>
      </div>
  </div><!--headend of nidno div-->
  
  <!--gender and age div start-->
<div style="margin-left:100px; margin-top:20px;"role="form" data-toggle="validator" class="row">
    <div class="col-md-4">
      <div>
      <label for="inputMember" class="form-label">Gender</label>
      </div><!--Gender label div-->
      <div class="form-check-inline col-md-4">
        <input class="form-check-input" type="radio" name="dgender" value="Male" id="flexRadioDefault1" required>
        <label class="form-check-label" for="gender" >
          Male
        </label>
      </div><!--firstradio-->
      
      <div class="form-check-inline col-md-4">
        <input class="form-check-input" type="radio" name="dgender" value="Female" id="flexRadioDefault2" required>
        <label class="form-check-label" for="gender">
          Female
        </label>
        
      </div><!--radiodiv-->
  
      
  </div><!--headgenderdiv-->
  <div style="margin-right:30px;margin-left:100px;" class="col-md-2">
    <label for="inputMember" class="form-label">Race</label>
    <select id="inputMember" name="drace" class="form-select" required>
      <option selected disabled value="">Choose</option>
      <option>German</option>
      <option>Turkish</option>
      <option>Polish</option>
      <option>Syrian </option>
      <option>Others</option>
       
    </select>
    <div class="invalid-feedback">
         Select a valid state.
      </div><!--validation nationality-->
    </div><!--headRacediv-->
    <div class="col-md-2 form-group">
        <label style="margin-left:20px;margin-bottom:9px;" class="input-label">Age</label>
          <input type="number" class="form-control" placeholder="value" id="age" name="dage" min="1" max="100" required>
         
          <div class="invalid-feedback">
             Fill the valid age.
          </div><!--validation age type-->
          </div>
        </div>
        <!--headgender and age,race div end-->
        <!--headdatepicker,maritalstart-->
<div role="form" data-toggle="validator" style="margin-left:100px; margin-top:20px;margin-bottom:15px;" class="row">
    <div style=margin-right:10px; class="col-md-5">
      <label style="margin-bottom:20px;" class="input-label">Date of Birth</label>
    <input type="date" class="form-control" id="birthdayc" name="ddateOfBirth" required>
    <div class="invalid-feedback">
        Please fill the Date of birth
      </div><!--validation age type-->
    </div>
    <!--headMaritaldiv start-->
    <div class="col-md-6">
      <div>
      <label style="margin-bottom:20px;"  for="inputMember" class="form-label">Marital Status</label>
      </div><!--marital label div-->
      <div class="form-check-inline col-md-3">
        <input class="form-check-input" type="radio" name="dmaritalStatus" value=" Married" id="flexRadioDefaultb1" required>
        <label class="form-check-label" for="flexRadioDefault1">
          Married
        </label>
      </div><!--maritalfirstradio-->
      
      <div class="form-check-inline col-md-3">
        <input class="form-check-input" type="radio" name="dmaritalStatus" value=" Unmarried" id="flexRadioDefaultb2" required>
        <label class="form-check-label" for="flexRadioDefault2">
          Unmarried
        </label></div><!--marital second div-->
        <div class="form-check-inline col-md-3">
          <input class="form-check-input" type="radio" name="dmaritalStatus" value=" Divorced" id="flexRadioDefaultb3" required>
          <label class="form-check-label" for="flexRadioDefaultb3">
            Divorced
          </label>
        
      </div><!--maritalradiodiv-->
      </div><!--total marital block end-->
    </div><!--headdatepicker,marital--><!--headpersonal details-->
    <!--start of education,wages,type of work div-->
    <div style="margin-left:100px; margin-top:20px;margin-bottom: 30px;" class="row">
      <div class="col-md-4">
        <label for="inputMember" class="form-label">Education</label>
        <select id="inputMember" name="deducation" class="form-select" required>
          <option selected disabled value="">Choose</option>
          <option>Hauptschule </option>
          <option>Realschule</option>
          <option> Gymnasium</option>
          <option>Gesamtschule  </option>
          <option>Others</option>
           
        </select>
        
        </div><!--educationdiv-->
        <div class="col-md-3">
          <label for="inputMember1" class="form-label">Type of work</label>
          <select id="inputMember1" name="dprofession" class="form-select" required>
            <option selected disabled value="" >Choose</option>
            <option value="Public sector">Public sector</option>
            <option value="Private sector">Private sector</option>
            <option value="Unemployed">Unemployed</option>
            <option value="Others">Others</option>
             
          </select>
          
          </div><!--type of work div-->
         
          
          <div class="col-md-3">
  
           <div>
           <label class="input-label">Wages(EURO)</label></div>
           <div class="input-group mb-2">
           <span style="font-size:20px" class="input-group-text" id="basic-addon1"><b>€</b>
           </span>
           <input id="wchange" class="form-control number" name="dwages" placeholder="00.00" aria-label="Username" aria-describedby="basic-addon1" pattern="^(\d*\.?\d+|\d{1,3}(,\d{3})*(\.\d+)?)$" disabled="disabled" required>
           </div>


          </div><!--wages div end-->
          </div>
   
   
   
   <hr size="3" width="100%" color="gray"> <!--line-->
    <!--formfooter start-->
    
    
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label style="margin-bottom:40px" class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    
 </form>
  
         <div style="margin-left:45%;" class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </body>
         </div>



<!--formfooterended-->






     
      
      
      
      
      
      
      <!--start of script-->
     <script>
    
     $(function () {
         $("#inputMember1").change(function () {
             if ($(this).val() != 'Unemployed') {
                 $("#wchange").removeAttr("disabled");
                 $("#wchange").focus();
             } else {
                 $("#wchange").attr("disabled", "disabled");
             }
         });
     });
 

     //wages validation
     $('input.number').keyup(function(event) {

    	 // skip for arrow keys
    	if(event.which >= 37 && event.which <= 40){
    	event.preventDefault();
    	}

    	 $(this).val(function(index, value) {
    	value = value.replace(/,/g,''); // remove commas from existing input
    	return numberWithCommas(value); // add commas back in
    	});
    	});

    	function numberWithCommas(x) {
    	var parts = x.toString().split(".");
    	parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    	return parts.join(".");
    	}
     
     
     
     
//datepicker validation
var todayDate = new Date();
var month = todayDate.getMonth() + 1;
var year = todayDate.getUTCFullYear();
var tdate = todayDate.getDate();
if (month < 10){
  month="0" + month;
}
if(tdate < 10){
  tdate = "0" + tdate; 
}
var maxDate=year + "-" + month + "-" +tdate;
document.getElementById("birthday").setAttribute("max",maxDate);
document.getElementById("birthdayc").setAttribute("max",maxDate);       
//datepicker validation end
  function validm(){
              var Firstname=document.getElementById('name').value;
               var Firstnamec=document.getElementById('namec').value;
              var nid=document.getElementById('nidno').value;
              
              

if((Firstname.length <2) || (Firstname.length>20)){
 document.getElementById('fname').innerHTML="Fullname length should be between 2 to 20";
 return false;

}


if(!isNaN(Firstname))
{
document.getElementById('fname').innerHTML="Fullname not valid";
return false;
 
}else{
document.getElementById('fname').innerHTML="";

}



//firstname validationcomplete
    if((Firstnamec.length <2) || (Firstnamec.length>20)){
 document.getElementById('fnamec').innerHTML="Fullname length should be between 2 to 20";
 return false;

}


if(!isNaN(Firstnamec))
{
document.getElementById('fnamec').innerHTML="Fullname not valid";
return false;
 
}else{
document.getElementById('fnamec').innerHTML="";

}



//firstnamed validationcomplete
//nid
if((nid.length<1) || (nid.length>100)) 
{
    document.getElementById('idn').innerHTML="Nid should be a number";
    return false;
}
if(isNaN(nid))
{
document.getElementById('fname').innerHTML="nid  not valid";
return false;
}
else{
  document.getElementById('idn').innerHTML="";
  
}//nid

}
function validc(){
  var Firstnamec=document.getElementById('namec').value;
  var nidc=document.getElementById('nidnoc').value;
  
  
  if((Firstnamec.length <2) || (Firstnamec.length>20)){
        document.getElementById('fnamec').innerHTML=" Fullname length between 2 to 20";
        return false;
    
}


 if(!isNaN(Firstnamec))
{
    document.getElementById('fnamec').innerHTML=" Fullname not valid";
    return false;
        
}else{
  document.getElementById('fnamec').innerHTML="";
  
}
//firstname validationcomplete
//nidvalidation
if((nidc.length<1) || (nidc.length>100)) 
{
    document.getElementById('idnc').innerHTML="nid should be a number";
    return false;
}else{
  document.getElementById('idnc').innerHTML="";
  
}
    




}



//mainjs validation
(function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                
            }


          
              form.classList.add('was-validated')
            }, false)
          })
        })()
      
        
        //modaljs
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
})
  


  

 </script>

    
</body>
</html>


<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}


.btn{
width:90px;
}


.h5{
margin-top:50px;
}


.wrapper{
  display: flex;
  position: relative;
  
}

.wrapper .sidebar{
  margin-top:55px;
  width: 250px;
  height: 100%;
  background: black;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h5{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top:0px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  margin-left:35px;
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
  margin-top:57px;
}

.wrapper .main_content .header1{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  margin-left:50px;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
  margin-left:50px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.panel-body{
    margin-left:260px;
    margin-top:150px;
}

.img{
   
    width:600px;
    height:488px;
    margin-left: 650px;
    margin-top:120px;
}

.login{
    position:fixed;
    width:40%;
    height:350px;
    padding:30px;
    background: gainsboro;
    border:1px solid black;
    border-radius: 250px;
    top:50%;
    left :36%;
    width : 370px ;
    transform:translate(-50%,-50%);
    margin-top: 55px;
}

.h4{
    margin-left:30px;
    margin-top: 70px;
}

.comm{
    margin-left: 35px;
}

</style>
